[Unit]
Description=Discord Rich Presence based on mpris2 media players

[Service]
Type=simple
WorkingDirectory=<path to discordrp-mpris root directory>
ExecStart=/usr/local/bin/pipenv run python -m discordrp_mpris
# Restart=on-failure
# RestartSec=3

[Install]
WantedBy=default.target
